doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add-Product
        main 
            if productList.length > 0    
                .grid
                    each product in productList
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.       title}
                            div.card__image
                                img(src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg",     alt="A Book")
                            div.card__content
                                h2.product__price $19.99
                                p.product__description A       very   interesting book    about so many    even more      interesting things!
                            div.card__actions
                                button.btn Add to Cart
            else 
                 h1 No Products!